@import 'base';
@import '../../../../node_modules/react-select/dist/default.css';

.Select-control {
  @include editing;
}
.is-open > .Select-control {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  @include editing-focus;
}
.Select-control:hover {
  box-shadow: none;
}
.is-open > .Select-control > .Select-arrow {
  border-color: transparent transparent #999999;
  border-width: 0 5px 5px;
  background: none;
}
.is-focused:not(.is-open) > .Select-control
.Select-menu-outer {
  border: none;
  box-shadow: none;
}
.Select-placeholder {
  color: #aaa;
}
.Select-item {
  background-color: #777;
  border-radius: 2px;
  border: none;
  color: #fff;
  font-size: 10px;
  margin: -20px 2px 2px 2px;
}
.Select-item-icon {
  border-right: none;
  &:hover, &:active, &:focus {
    background: none;
    color: inherit;
  }
}
.Select.is-multi.is-disabled .Select-item-icon:hover,
.Select.is-multi.is-disabled .Select-item-icon:focus,
.Select.is-multi.is-disabled .Select-item-icon:active {
  background-color: none;
}
