@import 'base';

.header {
  border-radius: 0;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  border: none;

  .nav-links {
    color: white;

    .login-button, .logout-button {
      cursor: pointer;
    }

    ul.list-inline li {
      padding-top: 15px;
      padding-left: 20px;

      a {
        color: white;
      }
    }
  }
}
