@import 'base';

.header {
  border-radius: 0;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  border: none;

  .nav-links {
    color: gray;

    ul.list-inline li {
      padding-top: 15px;

      a {
        color: white;
        padding-left: 20px;
      }
    }
  }
}
