@import 'base';

.home-applist-app {
  height: 355px;
  width: calc(100% * (1/3) - 2px);
  background: #EAEAEA;
  padding: 10px;
  margin-right: 2px;
  margin-top: 2px;
  overflow: scroll;
  position: relative;

  @media #{$mobile} {
    width: calc(50% - 2px);
  }

  @media #{$phone} {
    width: 100%;
  }

  .app-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;

    h3.app-title {

    }
  }

  .info-link {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
  }

}
