/*$yellow: #F7BC33;
$red: #E84235;
$green: #56AA54;
$blue: #4286F5;*/

$button-color: $blue;

body {
  font-family: -apple-system, Helvetica, Arial, sans-serif
}

h1, h2, h3, h4, h5 {
  font-weight: 300;
}
