.app-detail-modal {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding: 30px 0;
  background-color: rgba(0,0,0,0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9997;
  height: 100%;

  .modal {
    margin: 0px 15px;
    max-height: 600px;
    width: 100%;
    max-width: 667px;
    padding: 15px;
    border-radius: 10px;
    position: relative;
    background: white;
    z-index: 9998;
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 25px 25px rgba(0,0,0,0.15);
  }
}
